.classybutton{
  border: 2px solid var(--button_border);
  font-family: var(--font_family);
  background-color: white;
  border-radius: 9999px;
  padding: 5px 10px;
  font-weight: 600;
  color: var(--button_border);
}

.classybutton:disabled{
  opacity: 0.3 !important;
}

.classybutton:hover{

  cursor: pointer;
  opacity: 0.9;

}

.classybutton:active{
  opacity: 1;
}
