.classcontainer {
  all: unset;
  width: 100%;
  background: var(--button_background);
  opacity: 0.7;
  border-radius: 10px;
  position: relative;
  border: solid 2px lightgray;
  bottom: 0px;
  transition: all 0.2s;
  font-family: var(--font_family);
  padding-top: 20px;
  padding-bottom: 59px;
  max-width: 700px;
}

.classcontainer:hover {
  border: solid 2px var(--button_border);
  opacity: 1;
  cursor: pointer;
}

.classbottombarcontainer {
  overflow: auto;
}

.classviewcomments {
  float: right;
  margin-right: 15px;
  margin-top: -2.2rem;
}

.classviewbutton {
  border: 2px solid var(--button_border);
  font-family: var(--font_family);
  background-color: white;
  border-radius: 9999px;
  padding: 5px 10px;
  font-weight: 600;
  color: var(--button_border);
  position: absolute;
  bottom: 15px;
  right: 15px;
}



.classcontainer:hover {
  cursor: pointer;
}


.classtagscontainer {
  display: flex;
  margin-left: 10px;
  position: absolute;
  bottom: 10px;
}

.classdescription {
  margin-left: 20px;
  margin-right: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.classtag {
  font-family: var(--font_family);
  background-color: lightgray;
  border-radius: 9999px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: gray;
  margin: 5px;
}

.math {
  color: rgb(6 182 212);
  border: rgb(6 182 212) 0.5px solid;
  background-color: rgb(207 250 254);
}

.art {
  background-color: rgb(209 250 229);
  border: rgb(16 185 129) 1px solid;
  color: rgb(16 185 129);
}

.science {
  background-color: rgb(254 226 226);
  border: rgb(239 68 68) 0.5px solid;
  color: rgb(239 68 68);
}

.language {
  background-color: rgb(255 237 213);
  border: rgb(249 115 22) 1px solid;
  color: rgb(249 115 22);
}

.social-science {
  color: rgb(88 41 230);
  border: rgb(88 41 230) 1px solid;
  background-color: rgb(223 214 250);
}


.classname {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 10px;
  font-family: var(--font_family);
  font-weight: bold;
  color: black;
  line-height: 2.25rem;
  margin-right: 20px;
}

.classratingcontainer {
  justify-content: left;
  align-items: center;
}

.classratingcontainerinvalid {
  opacity: 0.3;
}

.classrating {
  font-weight: 600;
  margin-left: 20px;
  display: inline-block;
}

.classreviewcontainer {
  background: lightgray;
  height: 10px;
  max-width: 300px;
  margin-left: 20px;
  border-radius: 9999px;
  display: inline-block;
  margin-top: -10px;
  width: 60%;
}

.classreviewinside {
  height: 100%;
  border-radius: 9999px;
  width: 0%;
  transition: width 0.5s;
}

.classreviewinside[value="0"] {
  background: var(--review_0);
}

.classreviewinside[value="1"] {
  background: var(--review_1);
}

.classreviewinside[value="2"] {
  background: var(--review_2);
}

.classreviewinside[value="3"] {
  background: var(--review_3);
}

.classreviewinside[value="4"] {
  background: var(--review_4);
}