
.classcontainer{

  all: unset;

  width: 100%;
  background: var(--button_background);
  margin: 0 10px 10px 10px;
  opacity: 0.7;
  border-radius: 10px;
  position: relative;
  border: solid 3px var(--button_border);
  bottom: 0px;
  transition: all 0.2s;
  margin-left: auto;
  font-family: var(--font_family);
  padding-top: 20px;
  opacity: 0.7;
  padding-bottom: 70px;

}

.classcontainer:hover{
  cursor: pointer;
  opacity: 1;
}

.classcontainer:active{

}

.classviewcomments{
  position: absolute;
  right: 20px;
  bottom: 17px;
}

.classtagscontainer{
  display: flex;
  left: 10px;
  bottom: 17px;
  position: absolute;
}

.classdescription{
  margin-left: 20px;
  margin-right: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.classtag{
  font-family: var(--font_family);
  margin: 5px;
  padding: 5px;
  background: gray;
}

.classname{
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-family: var(--font_family);
  font-weight: bold;
  color: black;
}

.classratingcontainer{

  display: flex;
  justify-content: left;
  align-items: center;

}

.classratingcontainerinvalid{
  opacity: 0.3;
}

.classrating{
  margin-left: 20px;
}

.classreviewcontainer{
  background: gray;
  height: 20px;
  width: 150px;
  margin-left: 20px;
}

.classreviewinside{
  height: 100%;
  width: 0%;
  transition: width 2s;
}

.classreviewinside[value="0"]{
  background: var(--review_0);
}

.classreviewinside[value="1"]{
  background: var(--review_1);
}

.classreviewinside[value="2"]{
  background: var(--review_2);
}

.classreviewinside[value="3"]{
  background: var(--review_3);
}

.classreviewinside[value="4"]{
  background: var(--review_4);
}
