#classdesccontainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(10px);
  z-index: 2;
  scrollbar-gutter: stable;
  transition: opacity 0.3s;
  opacity: 0;
}

#classdescclose {
  border: 2px solid var(--button_border);
  font-family: var(--font_family);
  background-color: white;
  border-radius: 9999px;
  padding: 5px 10px;
  font-weight: 600;
  color: var(--button_border);
}

#classdescname {
  font-size: 35px;
  margin-bottom: 0px;
  font-family: var(--font_family);
  margin-top: 35px;
  font-weight: bold;
}

#classreviews {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 4%;
}

.classratingoverall {
  width: 220%;
}

#classdesc {

  width: 700px;
  height: 85%;
  background: var(--button_background);
  border: solid 2px var(--button_border);
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 30px;
  overflow-y: scroll;
  overflow-x: hidden;


}

#classdescdesc {
  font-size: 1rem;
  font-family: var(--font_family);
  font-weight: 300;
}

@media only screen and (max-width: 850px) {

  #classdesc {
    width: 80%;
  }

  #usercommentscontainer {
    align-items: center;
  }

  .usercommentcontentcontainer {
    width: 100% !important;
  }

  .usercomment {
    flex-direction: column;
    width: 100% !important;
  }


}




.reviewcontainer {
  margin-bottom: 5px;
}

.reviewtype {
  font-family: var(--font_family);
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 300;
}

.reviewlabel{
  margin-top: 8px;
  margin-bottom: 7px;
  font-family: var(--font_family);
  font-size: 18px;
  font-weight: 300;
  opacity: 0.5;
  font-style: italic;
  width: 90%;
  text-align: center;
}


.reviewbarbackground {
  width: 90%;
  height: 15px;
  background: lightgray;
  border-radius: 9999px;
}

.reviewbar {
  height: 100%;
  width: 0%;
  border-radius: 9999px;
  transition: width 0.5s;
}

.reviewbar[value="0"] {
  background: var(--review_0);
}

.reviewbar[value="1"] {
  background: var(--review_1);
}

.reviewbar[value="2"] {
  background: var(--review_2);
}

.reviewbar[value="3"] {
  background: var(--review_3);
}

.reviewbar[value="4"] {
  background: var(--review_4);
}

.noscroll {
  overflow: hidden;
}
