body {
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
}

html {
  height: 100%;
}

.loadinggif {
  opacity: 0.4;
}

#frontgui {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

#navbar {
  width: 80%;
  height: 100px;
  background: gray;
  z-index: 1;
  background: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

#leftnavbar {
  background: transparent;
  font-family: var(--font_family);
  /* height: 200px; */
  border-radius: 10px;
  width: 100%;
  margin-top: -40px;
  margin-bottom: 30px;
}

#middlenavbar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#classesgui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  overflow-x: hidden;
  margin-bottom: -20px;
  align-items: center;
}

#classes {
  scrollbar-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 47%);
  margin-left: -5px;
  column-gap: 2.25%;
  row-gap: 20px;
  justify-content: center;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media only screen and (max-width: 1050px) {

  #classes {
    width: 95%;
    grid-template-columns: none;
  }

  #classesgui {
    margin-left: 0px;
    width: 95%;
  }

  .sortinggui {
    display: flex;
    flex-direction: column;
  }

  .sbar,
  .cbar {
    border: none !important;
    padding: 0px !important;
  }

}

@media only screen and (max-width: 525px) {


  .checkbox-tile {
    width: 4rem !important;
    min-height: 4rem !important;
  }

  .radio-tile {
    width: 4rem !important;
    min-height: 4rem !important;
  }

  .classoptions {
    grid-template-columns: repeat(5, 3.8rem) !important
  }

  .checkbox-label {
    font-size: 11px !important;
  }

  .navbar_logo {
    margin-bottom: 80px !important;
  }


}


#subgui {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 100%;
  flex: 1;
  align-items: center;
}

.filtertext {
  text-align: center;
  font-size: 23px;
  margin-bottom: 0px;
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font_family);
  font-weight: 700;
  color: gray;
}

.sortingoption {
  margin-left: 20px;
  height: 35px;
  display: flex;
  align-items: center;
}

#sorting {
  /* width: 40%; */
  display: inline-block;
}

#classtagsoption {
  /* width: 40%; */
  display: inline-block;
}

.sbar {
  border-right: gray solid 1px;
  padding: 0 2rem;
}

.cbar {
  border-left: gray solid 1px;
  padding: 0 2rem;
}

.sortingborder {
  border-right: gray solid 1px;
}

.optionsborder {
  border-left: gray solid 1px;
}


#searchbar {
  /* margin-left: 2rem; */
  width: 90%;
  max-width: 750px;
}


#classesloading {
  width: 150px;
  height: 150px;
  display: flex;
  margin-top: 100px;

}


.tagoption {
  display: flex;
  align-items: center;
}

.navbar_main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_logo {
  width: 9rem;
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
  margin-bottom: 30px;
  margin-top: 5px;
}

.navbar_title {
  font-weight: 800;
  font-family: var(--font_family);
  padding: 0;
  margin-bottom: 0;
  font-size: 3rem;
  line-height: 3.5rem;
  color: black;
  /* background: -webkit-linear-gradient(var(--button_border), var(--button_shadow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}


.search-box {
  background: white;
  height: 30px;
  border-radius: 20px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  border: transparent solid 2px;
}

.search-box .search-input {
  background: transparent;
  color: black;
  border: none;
  outline: none;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  transition: 0.8s;
}

.search-box:focus-within {
  border: var(--button_shadow) solid 2px;
}

.search-box .search-btn .fa-magnifying-glass {
  color: var(--button_border);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.shadow-sm {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.search-box>button {
  border: none;
  background-color: transparent;
}



.shadow {
  box-shadow:
    -2px -2px 3px 0 rgba(255, 255, 255, .2),
    2px 2px 3px 0 rgba(0, 0, 0, .2);
}

.shadow-full {
  box-shadow: inset 2px 2px 3px 0 rgba(255, 255, 255, .3),
    inset -2px -2px 3px 0 rgba(116, 125, 136, .2),
    -2px -2px 3px 0 rgba(255, 255, 255, .2),
    2px 2px 3px 0 rgba(0, 0, 0, .2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.fastFadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.sortinggui {
  display: flex;
  align-items: center;
  justify-content: center;
  /* column-gap: 2rem; */
}

.classoptions {
  display: grid;
  grid-template-columns: repeat(5, 5rem);
  grid-gap: 0.6rem;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.checkbox-input {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:checked+.checkbox-tile {
    border-color: var(--button_border);
    box-shadow: 0 5px 10px rgba(#000, 0.1);
    color: var(--button_border);

    &:before {
      transform: scale(1);
      opacity: 1;
      background-color: var(--button_border);
      border-color: var(--button_border);
    }

    .checkbox-icon,
    .checkbox-label {
      color: var(--button_border);
    }
  }

}

.checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5rem;
  min-height: 5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
  border: 1px solid lightgray;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    background-color: #fff;
    border-radius: 70%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:hover {
    border: var(--button_border) solid 1px;

    &:before {
      transform: scale(1);
      opacity: 1;
    }

    >.checkbox-icon {
      color: var(--button_border);
    }

    >.checkbox-label {
      color: var(--button_border);
    }
  }
}

.radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5rem;
  min-height: 5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
  border: 1px solid lightgray;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    background-color: #fff;
    border-radius: 70%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: none;
  }

  &:hover {
    border: var(--button_border) solid 1px;

    &:before {
      transform: scale(1);
      opacity: 1;
    }

    >.checkbox-icon {
      color: var(--button_border);
    }

    >.checkbox-label {
      color: var(--button_border);
    }
  }

}


.radio-input {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:checked+.radio-tile {
    border-color: var(--button_border);
    box-shadow: 0 5px 10px rgba(#000, 0.1);
    color: var(--button_border);

    &:before {
      transform: scale(1);
      opacity: 1;
      background-color: var(--button_border);
      border-color: var(--button_border);
    }

    .checkbox-icon,
    .checkbox-label {
      color: var(--button_border);
    }
  }

}

.checkbox-icon {
  transition: .375s ease;
  color: gray;

}

.checkbox-label {
  color: gray;
  transition: .375s ease;
  text-align: center;
  font-weight: 600;
  font-size: small;
  margin-top: 5px;
}