
#opinioninput{
  padding-bottom: 50px;
}


#opinioninput{
  margin-top: 20px;
}

.inputtitle{

  font-size: 25px;
  font-family: var(--font_family);

}

#opinioninputcontent{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 550px;
}

.setrating{
  display: flex;
  align-items: center;
  width: 280px;
  justify-content: space-between;
}

.setrating > p{
  font-family: var(--font_family);
}

.ratingscale{
  user-select: none;
  display: flex;
}

.setrating{
  opacity: 0.35;
  transition: opacity 0.1s;
}

.setrating:hover{
  opacity: 1;
}

.ratingselected{
  opacity: 1 !important;
}

.ratingscalebutton{
  all: unset;
  width: 30px;
  height: 30px;
  margin: 0px;
  background: blue;
  text-align: center;
  font-family: var(--font_family);
  font-weight: bold;
  font-size: 20px;
}

.ratingscalebutton[value="-1"]{
  background: var(--review_-1);
}

.ratingscalebutton[value="-2"]{
  background: var(--review_-2);
}

.ratingscalebutton[value="-3"]{
  background: var(--review_-3);
}

.ratingscalebutton[value="-4"]{
  background: var(--review_-4);
}

.ratingscalebutton[value="-5"]{
  background: var(--review_-5);
}

.ratingscalebutton[value="0"]{
  background: var(--review_0);
}

.ratingscalebutton[value="1"]{
  background: var(--review_1);
}

.ratingscalebutton[value="2"]{
  background: var(--review_2);
}

.ratingscalebutton[value="3"]{
  background: var(--review_3);
}

.ratingscalebutton[value="4"]{
  background: var(--review_4);
}

#agreementcontainer{
  cursor: pointer;
}


#agreementtext{
  font-family: var(--font_family);
  cursor: pointer;
}

#agreementcheckbox{
  cursor: pointer;
}

.ratingscalebutton:hover{

  box-sizing: border-box;
  border: solid 3px black;

}

#opinioninputmsg{
  resize: none;
}


.ratingscalecancel > img{
  width: 20px;
  height: 20px;
}

.ratingscalecancel{
  all: unset;
  width: 20px;
  height: 20px;
  background: white;
  text-align: center;
  opacity: 0.4;
}

.ratingscalecancel:hover{
  opacity: 0.8;
}

.ratingscalecancel:active{
  opacity: 1;
}

#opinioninputauthor{
  all: unset;
  font-size: 20px;
  font-family: var(--font_family);
  padding: 10px;
  background: rgba(0,0,0,0.05);
  border: solid 2px rgba(0,0,0,0.1);
  opacity: 0.6;
  transition: all 0.3s;
  margin-bottom: 10px;
}

#opinioninputauthor:hover{

  opacity: 0.8

}

#opinioninputauthor:focus{
  opacity: 1
}


#opinioninputmsg{
  all: unset;
  font-size: 20px;
  font-family: var(--font_family);
  padding: 10px;
  background: rgba(0,0,0,0.05);
  border: solid 2px rgba(0,0,0,0.1);
  opacity: 0.6;
  transition: all 0.3s;
  word-break: word;
  word-wrap: break-word;
  height: 200px;
}

#opinioninputmsg:hover{

  opacity: 0.8

}

#opinioninputmsg:focus{
  opacity: 1
}

#opinionterminate{
  display: flex;
  align-items: center;
}

#opinionsubmit{
  background: var(--button_border) !important;
  position: relative;
  height: 30px;
  display: flex;
  align-items: center;
  width: 70px;
  justify-content: center;
  color: white;
}


#opinioncancel{
  position: relative;
  height: 30px;
  margin-left: 10px;
  width: 70px;
  text-align: center;
}

#opinionsubmit > img{
  position: absolute;
  height: 30px;
  width: 30px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  transform: translateY(-50%)
}

.opinionuploading{
  opacity: 1;
}
